/debug
/release
/x64
*.fliter

# ignore all . files and . folders
.*

# Dont ignore .gitignore (this file)
# This is just for verbosity, you can leave it out if
# .gitignore is already tracked or if you use -f to
# force-add it if you just created it
#files
!/.gitignore
!*.cpp
!*.h
!*.hpp
##Qt and Vs files
!*.pro
!*.sln
!*.ui
!*.db
!*.png
!*.stash
!*.pri
!*.qrc

#folders
!/clock_database
!/clock_main_widget
!/clock_small_window
!/clock_subwidgets
!/lon_widget

#exclude
*.user
*.filters
/ClassDiagram1.cd
